//各種logoに共通するプロパティ
%logo-base{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.c-logo{
  background-image: url(../images/logo.svg);
  @extend %logo-base;
  &--white{
    background-image: url(../images/logo_white.svg);
    @extend %logo-base;
  }
}