@use '../../foundation/mixin' as *;
.u-dis-none {
  display: none;
  &--over-pc{ //PCサイズ以上で効く（主に改行に利用）
    @include breakpoint(pc){
      display: none;
    }
  }
  &--over-tablet{ //tabletサイズ以上で効く（主に改行に利用）
    @include breakpoint(tablet){
      display: none;
    }
  }
  &--sp-and-pc{ //spとpcで非表示
    display: none;
    @include breakpoint(tablet){
      display: unset;
    }
    @include breakpoint(pc){
      display: none;
    }
  }
}

//importantを使っているためいずれコードリファクタリングするか？
.u-dis-flex--pc{
  @include breakpoint(pc){
  display: flex!important;
  }
}