@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
.p-message {
  padding: 60px 0;
  position: relative;
  height: 1000px;
  @include breakpoint(tablet) {
    padding: 100px 0;
    height: 1085px;
  }
  &__title {
    text-align: center;
    font: bold 24px $noto-font;
    @include breakpoint(tablet) {
      font-size: 32px;
      margin-bottom: 88px;
    }
    @include breakpoint(pc) {
      font-size: 48px;
      margin-bottom: 88px;
    }
  }
  &__sentence {
    background-color: white;
    padding: 30px 20px;
    position: absolute;
    z-index: 2;
    width: 95%;
    top: 370px;
    left: 0;
    box-shadow: 0 0 20px rgba(#000000, 0.16);
    @include breakpoint(tablet) {
      width: 450px;
      top: 500px;
      padding: 30px;
      left: 4%;
    }
    @include breakpoint(pc) {
      width: 530px;
      top: 489px;
      left: 22%;
      padding: 45px;
    }
    @include breakpoint(wide){
      top: 460px;
      left: 29%;
    }
    &__words {
      font: 16px/2 $noto-font;
      @include breakpoint(tablet){
        margin-bottom: 40px;
      }
    }
    &__CEO {
      font: 10px $noto-font;
      margin-top: 25px;
      @include breakpoint(tablet) {
        margin-top: unset;
        font-size: 16px;
      }
      span {
        font: 600 15px serif;
        @include breakpoint(tablet) {
          font-size: 24px;
        }
      }
    }
  }
  &__enami {
    //江並さんの写真
    position: absolute;
    width: 95%;
    top: 136px;
    right: 0;
    @include breakpoint(tablet) {
      max-width: 600px;
      top: 260px;
    }
    @include breakpoint(pc) {
      width: 600px;
      top: 260px;
      right: 5%;
    }
    @include breakpoint(wide) {
      left: 50%;
      right: 22%;
    }
  }
  &__background {
    font-size: 0;
    width: 175px;
    height: 520px;
    background-image: url(../images/background-pattern_silver_left.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: -1;
    @include breakpoint(tablet) {
      width: 225px;
      height: 614px;
      bottom: 70px;
    }
    @include breakpoint(pc) {
      width: 450px;
      bottom: 111px;
      left: 5%;
    }
    @include breakpoint(wide) {
      bottom: 111px;
      left: 16%;
    }
  }
  .c-triangle:nth-of-type(2) {
    //左上の逆三角形
    top: 166px;
    left: 20px;
    @include breakpoint(tablet) {
      left: 33px;
    }
    @include breakpoint(pc) {
      top: 260px;
      left: 5%;
    }
    @include breakpoint(wide) {
      left: 161px;
    }
  }
  .c-triangle:nth-of-type(3) {
    //右下の逆三角形
    bottom: 100px;
    right: 55px;
    @include breakpoint(tablet) {
      bottom: 150px;
      right: 90px;
    }
    @include breakpoint(pc) {
      bottom: 133px;
      right: 110px;
    }
    @include breakpoint(wide){
      bottom: 282px;
      right: 164px;
    }
  }
}
