@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
.p-need-a-school{
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.10);
  position: absolute;
  z-index: 2;
  padding: 30px 20px;
  margin-right: 20px;
  bottom: 370px;
  @include breakpoint(tablet){
    padding: 72px 57px 43px 88px;
    max-width: 1360px;
    top: 650px;
    margin-right: 15%;
    bottom: unset;
  }
  @include breakpoint(pc){
    top: 750px;
    padding: 100px 88px 125px 344px;
    max-width: 1360px;
    margin-right: 29%;
  }
  @include breakpoint(wide){
    padding: 125px 110px 125px 430px;
  }
  h3{
    font: bold 18px $noto-font;
    color: $accent-color;
    margin-bottom: 24px;
    @include breakpoint(tablet){
      font-size: 24px;
    }
    @include breakpoint(pc){
      font-size: 32px;
      margin-bottom: 40px;
    }
    span{
      position: relative;
      padding-top: 0.1em;
      &::before{
        position: absolute;
        content: "";
        width: 0.15em;
        height: 0.15em;
        border-radius: 50%;
        background-color: $accent-color;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
  p{
    font:14px/1.8 $noto-font;
    @include breakpoint(tablet){
      font-size: 16px;
    }
  }
}