@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
.p-support {
  height: 347px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  @include breakpoint(tablet) {
    height: 700px;
  }
  @include breakpoint(pc){
    height: 943px;
  }
  img {
    margin-left: 20px;
    max-width: 100%;
    position: absolute;
    width: 95%;
    bottom: 190px;
    right: 0;
    @include breakpoint(tablet) {
      top: 177px;
      width: 80%;
      bottom: unset;
    }
    @include breakpoint(pc){
      top: 100px;
      width: 60%;
    }
    @include breakpoint(wide) {
      width: 960px;
    }
  }
  &__raisetech {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    padding: 22px 0;
    width: 90%;
    @include breakpoint(tablet) {
      bottom: 20px;
      padding: 55px 18px;
    }
    @include breakpoint(pc) {
      bottom: 100px;
      padding: 87px 103px 78px;
    }
    @include breakpoint(wide) {
      padding: 87px 172px 78px;
      max-width: 1060px;
    }
    h2 {
      font: bold 20px/1.5 $noto-font;
      color: white;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 32px;
      }
      @include breakpoint(pc) {
        font-size: 48px;
      }
    }
  }
  .c-background--blue-and-pattern {
    background-size: 70%;
    @include breakpoint(pc){
      background-size: auto;
    }
  }
}
