@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
.p-header {
  display: flex;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  background-color: white;
  align-items: center;
  @include breakpoint(wide) {
    justify-content: center;
  }
  &__title {
    width: 140px;
    height: 30px;
    margin-right: 0;
    margin-left: 20px;
    @include breakpoint(tablet) {
      width: 200px;
      height: 41px;
    }
    a{
      font-size: 0;
      display: block;
      height: 100%;
    }
  }
  &__menu {
    margin-right: 100px;
    margin-left: auto;
    @include breakpoint(pc) {
      display: flex;
      margin-right: 0;
      height: 100%;
    }
    @include breakpoint(wide) {
      margin-left: inherit;
    }
    &__list {
      display: none;
      position: absolute;
      background-color: white;
      padding-top: 10px;
      width: 100vw;
      height: 340px;
      left: 0;
      top: 50px;
      @include breakpoint(tablet){
        top: 90px;
      }
      @include breakpoint(pc) {
        padding-top:inherit;
        display: flex;
        position: inherit;
        align-items: center;
        margin-right: 15px;
        width: inherit;
        height: inherit;
        @include breakpoint(wide){
          margin-left: 90px;
        }
      }
      li{
        &:hover{
          color: $accent-color;
        }
        a{
          padding: 19px 20px;
          margin: 0 20px;
          display: block;
          font: bold 14px $noto-font;
          border-bottom: solid 1px #C3C3C3;
          transition: all 0.2s;
          @include breakpoint(pc){
            font-size: 16px;
            font-weight: 500;
            padding: 36px 15px;
            margin: 0;
            border-bottom: inherit;
          }
        }
        // a:hover{
        //   color: $accent-color;
        // }
        a::after{
          content: "";
          position: absolute;
          right: 40px;
          background-image: url(../images/icon_arrow_right_blue.svg);
          width: 13.6px;
          height: 13.6px;
          @include breakpoint(pc){
            display: none;
          }
        }
      }
    }
  }
  &__button{
    position: absolute;
    right: 60px;
    width: 106px;
    height: 34px;
    font: 500 12px/1.1 $noto-font;
    padding:2px 17px;
    border-radius: 25px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s, margin-top 0.3s, background-position 0.2s;
    @include breakpoint(tablet) {
      font-size: 16px;
      width: 190px;
      height: 45px;
      padding: 5px 0;
    }
    @include breakpoint(pc) {
      margin-right: 20px;
      position: unset;
    }
    &:hover{
      margin-top: 3px;
      box-shadow: unset;
      background-position: -34%;
    }
  }
}
