@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
//TOS = terms of service（利用規約）の頭文字
.p-TOS {
  &__title {
    font: bold 24px/1.5 $noto-font;
      text-align: center;
      margin-bottom: 40px;
    @include breakpoint(tablet){
      font-size: 32px;
      margin-bottom: 50px;
    }
    @include breakpoint(pc){
      font-size: 48px;
      margin-bottom: 60px;
    }
  }
  &__history {
    border: 3px solid $accent-color;
    padding: 45px 40px;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 668px;
    &__title {
      font: bold 16px $noto-font;
      margin-bottom: 2px;
    }
    &__paragraph {
      font: 16px/1.8 $noto-font;
    }
  }
  &__sub-title {
    font: bold 18px/1.5 $noto-font;
    margin-bottom: 20px;
    @include breakpoint(tablet) {
      font-size: 22px;
    }
    @include breakpoint(pc) {
      font-size: 24px;
    }
  }
  &__paragraph {
    font: 16px/1.8 $noto-font;
    margin-bottom: 40px;
  }
  &__list {
    counter-reset: section;
    &-item {
      font: 16px/1.8 $noto-font;
      margin-left: 13px;
      counter-increment: section;
      &::marker {
        content: counter(section) ".";
      }
      &__sub{
        counter-reset: sub;
        padding-left: 40px;
        text-indent: -27px;
      }
      &__sub-item {
        counter-increment: sub;
        &::before {
          content: counter(section) "-" counter(sub) ".";
        }
      }
    }
    &--u__item{
      font: 16px/1.8 $noto-font;
      position: relative;
      padding-left: 16px;
      &::before{
        content: "";
        width: 3px;
        height: 3px;
        display: inline-block;
        border-radius: 100%;
        background: #121212;
        position: absolute;
        top: 14px;
        left: 5px;
      }
    }
  }
  &__sub-item { //sub-title下にある項目
    font: bold 18px $noto-font;
    margin: 20px 0;
    @include breakpoint(tablet){
      font-size: 20px;
    }
    &:nth-of-type(1) {
      margin-top: 40px;
    }
  }
}
