//ヘッダーメニューやモーダルウインドを出している際の背景
@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
%cover-base{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: rgba(black, 0);
}
.c-cover{
  &--menu{
    @extend %cover-base;
    font-size: 0;
    transition: all 0.3s;
    &.is-open {
      z-index: 50;
      visibility: inherit;
      background-color: rgba(black, 0.6);
    }
  }
  &--modal{
    @extend %cover-base;
    transition: all 0.4s;
    &.is-open {
      z-index: 1000;
      visibility: inherit;
      background-color: rgba(black, 0.6);
    }
  }
}